.dashboard {
  max-width: 1000px;
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 5px;
}

.prod {
  border-bottom: 1px solid grey;
  margin-bottom: 7px;
  padding-bottom: 5px;
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.sub p {
  font-weight: bold;
}

button {
  border: none;
  background-color: white;
  color: black;
}