.container {
    margin: 0 auto;
    
}
.top {

    border: 1px solid lightgrey;
}

.top-block {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    
}

.right {
    display: flex;
    flex-direction: row;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.logo-block {
    font-size: 23px;
}

.logo {
    height: 60px;
}

.bot-block {
    margin: 0 auto;    
}

.bot-block h1 {
    width: 100%;
    position: absolute;
    top: 10%;
    text-align: center;
    color: black;
    font-size: 50px;
    margin: 10px 20px
}

.banner {
    height: 540px;
    width: 100%;
}